/* CSS Document */

.body { 
	background-color: #BBB;
	font-family: Arial, Helvetica, sans-serif;
	background-attachment: fixed;
	background-image: url("images/background-fss.jpg");
}

h3:hover {
	color: #555;
}

#main {
	background-color: rgba(245, 245, 245, 0.94);
	height: auto;
	margin: auto;
	margin-top: 50px;
	padding: 45px;
	border-radius: 7px;
	-webkit-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.9); 
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.9);
	font-size: 12px;
	text-align: center;
}

#loghello {
	display: inline-block;
	font-size: 11px;
	margin-right: 10px;
}

#pop {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.9;
	z-index: 900;
	margin-top: -50px;
	margin-left: -8px;
}

#subpop {
	position: fixed;
	width: 400px;
	height: 200px;
	border-radius: 2px 2px 2px 2px;
	background-color: #EEE;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding: 20px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
}

#notification {
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        bottom: 0;
        font-weight: bold;
        color: white;
        width: 100%;
	display: none;
	z-index: 999;
}

#subnotification {
        border-radius: 10px 10px 0 0;
        display: inline-block;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
        min-width: 420px;
        font-size: 12px;
        background-color: rgba(0,0,0,0.9);
}

#menuStack {
	float: left;
}

div#menuStack div.menupopup { display: none; }
div#menuStack:hover div.menupopup {
	display: block;
}
div#menuStack div {
	font-size: 12px;
}

.menupopup {
	position: absolute;
	display: block;
	background-image: -moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%);
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #AAA;
}


#menuElmt {
	display: inline-block;
	padding: 12px 6px 12px 6px;
	margin-top: 1px;
	background-image: -moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%);
        vertical-align: center;
        border-radius: 2px 2px 2px 2px;
        cursor: pointer;
	width: 100px;
}

#menuTitle {
	display: inline-block;
	padding: 12px 6px 12px 6px;
	margin-top: 1px;
	background-image: -moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%);
        vertical-align: center;
        border-radius: 2px 2px 2px 2px;
        cursor: pointer;
	width: 100px;
}
#menuElmt:hover, #menuTitle:hover {
	background-image: -moz-linear-gradient(center top , #DCDCDC 0px, #FAFAFA 100%);
	font-weight: bold;
}

.menuItem {
	padding: 10px 3px;
	margin-top: 3px;
	width: 100px;
}

.menuItem:hover { background-color: #FFF; font-weight: bold; overflow: hidden;}

#searchform {
        height: 50px;
	margin-left: -10px;
        margin-top: 50px;
        position: fixed;
        width: auto;
        opacity: 0.95;
}

.tabsearchform {
        background-color: #FFF;
        height: 100%;
        top: 0;
        z-index: 750;
        border-radius: 0 4px 4px 0;
        width: 50px;
	padding-left: 10px;
        float: left;
        box-shadow: 0 1px 1px 1px;
}

#searchpanel {
        width: auto;
        height: 100%;
        background: #FFF;
        overflow: hidden;
        position: relative;
        z-index: 9;
        display: none;
        float: left;
        box-shadow: 0 1px 1px 1px;
        padding-left: 10px;
        padding-right: 10px;
}

.searchButton {
        background-image: -moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%);
        border: 1px solid #CCC;
        vertical-align: center;
        height: 28px;
        margin-top: 10px;
        border-radius: 3px 3px 3px 3px;
        cursor: pointer;
}

.searchButton:hover {
        background-image: -moz-linear-gradient(center top , #DCDCDC 0px, #FAFAFA 100%);
}

input {
	padding-left: 3px;
	background: no-repeat;
	border:1px solid #d1c7ac;
	background-color: white;
	color : #444;
	margin-bottom: 5px;
	height: 20px;
}

#external {
	text-align: left;
	width: 75px;
	margin-left: 92%;
	margin-top: 220px;
}

#topmenu {
	float: left;
}

#connFormHorizontal {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	background: -moz-radial-gradient(#222222, #000000);
        background: -webkit-gradient(#222222, #000000);
	border-radius: 7px 7px 1px 1px;
	background-color: #DDDDDD;
	-webkit-box-shadow: 0px 3px 3px ;
	box-shadow: 0px 3px 3px;
}

#onlineForm {
	float: right;
	margin-left: 10px;
	margin-bottom: -5px;
	padding: 5px;
	border-radius: 7px 7px 1px 1px;
	background-color: #DDDDDD;
	font-size: 11px;
}

pre {
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	background-color: black;
	color: #3F3;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	margin: 7px;
}

p#banner {
    -webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width: 100%;
	height: 200px;
}

#canvas_banner {
    -webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	float: left;
	-webkit-box-shadow: 0px 5px 5px ;
    box-shadow: 0px 5px 5px;
}

#menus {
	margin-top: 10%;
	background-color: #222;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	margin-left: 10px;
	position: fixed;
	background: -moz-radial-gradient(#222222, #000000);
	background: -webkit-gradient(#222222, #000000);
	-webkit-box-shadow: -5px 5px 15px 5px
	box-shadow: -5px 5px 15px 5px;
	border-radius: 5px 5px 5px 5px;
}

#rightmenu {
	margin-top: -30px;
	float: left;
	clear: left;
}

#footer {
	width:100%;
	margin:auto; 
	margin-top: 3px;
	font-size: 9px;
	color:#999;
	text-align:center;
}

#menu {
	padding: 5px;
	width: 170px;
	text-align: left;
	color: #AAAAAA;
	text-decoration: none;
	font-family: 'Titillium Maps',Arial;
}

#menu h3{
	border-bottom: 1px solid;
	font-weight: bold;
	color: #DDDDDD;
}

#menu h3:hover {
	color: #FFFFFF;
}

#menu li { 
	border-bottom: 1px solid #CCCCCC;
	margin: 0 0 10px;
	font-family: arial,helvetica,sans-serif;
}
#menu li:hover { 
	color: red;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: auto;
	border: 1px solid #EEE;
}

th {
	padding: 12px;
	text-align: center;
	background-image: -moz-linear-gradient(center top , #CC3232, #A05252);
	background-color: #CC3232;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

th:first-child {
	border-radius: 6px 0 0 0;
}

th:last-child {
	border-radius: 0 6px 0 0;
}

th a {
	color: #444;
}

th a:hover {
	color: #333;
}

tr:hover {
	background-color: #EEE;
}

td {
	border: 1px solid #CCC;
	padding: 8px;
}

td:hover {
	background-color: #CCE;
}

a {
	text-decoration: none;
	color: #F33;
}

a:hover {
	color: #F10;
	cursor: pointer;
}

#errorContent {
	font-weight: bold;
	color: red;
	padding: 10px;
	font-size: 12px;
	background-color: #FF8;
}

#debugContent {
	font-weight: bold;
	color: blue;
	padding: 10px;
	font-size: 12px;
	background-color: #0CF;
}

.required_text {
	color: red;
	font-style: italic;
	font-size: 10px;	
}

.buttonStyle {
	background-image: -moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%);
        border: 1px solid #CCC;
        vertical-align: center;
        height: 28px;
        margin-top: 10px;
        border-radius: 3px 3px 3px 3px;
        cursor: pointer;
}

.buttonStyle:hover {
	background-image: -moz-linear-gradient(center top , #DCDCDC 0px, #FAFAFA 100%);
        border: 1px solid #CCC;
        vertical-align: center;
        height: 28px;
        margin-top: 10px;
        border-radius: 3px 3px 3px 3px;
        cursor: pointer;
}

.debugMsg {
	color: blue;
	font-weight: 100;
}

.errorMsg {
	color: red;
	font-weight: bold;
}

#netipcalcd {
	float: left;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	margin-top: 270px;
	margin-right: -50px;
	background-color: #222;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: -moz-radial-gradient(#222222, #000000);
	background: -webkit-gradient(#222222, #000000);
	-webkit-box-shadow: 5px 5px 15px 5px
	box-shadow: 5px 5px 15px 5px;
}

#netipcalcd span {
	color: #DDD;
}

#netipcalcres {
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 7px;
}

.clearlogform {clear: both;height: 0;line-height: 0;}
.clearfixlogform:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfixlogform {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfixlogform {height: 1%;}
.clearfixlogform {display: block;}
/* End hide from IE-mac */
.clearfixlogform {height: 1%;}
.clearfixlogform {display: block;}

#menuElmt ul.login {
	margin: 0;
	margin-left: -20px;
}

#menuElmt ul.login li {
	margin-left: -20px;
	display: block;
}

#logform {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.9;
}

#logform:hover {
	opacity: 0.95;
}

#logpanel {
	display: inline-block;
	width: 100%;
	height: auto;
	color: #333;
	overflow: hidden;
	z-index: 3;
	display: none;
}

#menupanel {
	opacity: 1.0;
	overflow: hidden;
	z-index: 18;
	display:inline-block;
	background-color: #EEE;
	border: 1px solid #999;
	border-radius: 0 0 10px 10px;
}

#menupanel a {
	color: #111;
	text-decoration: none;
	font-size: 12px;
	font-style: normal;
}

.menuText {
	color: #DDDDDD;
	font-size: 12px;
	font-style: normal;
}

#menupanel a:hover {
	font-weight: bold;	
}

#logpanel h1 {
	font-size: 14px;
	padding: 5px 0 10px;
	margin: 0;
}

#logpanel h2{
	font-size:12px;
	padding: 10px 0 5px;
	margin: 0;
}

#logpanel p {
	margin: 5px 0;
	padding: 0;
}

#logpanel a {
	text-decoration: none;
	color: #15ADFF;
}

#logpanel a:hover {
	color: white;
}

#logpanel .contentlog {
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
	padding-bottom: 15px;
}

#logpanel .contentlog .left {
	width: 230px;
	float: left;
	padding: 0 15px;
	margin-left: 40px;
	border-left: 1px solid #333;
}

#logpanel .contentlog .right {
	border-right: 1px solid #333;
}

#logpanel .contentlog form {
	margin: 0 0 10px 0;
}

#logpanel .contentlog label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
	font-size:10px;
	margin-bottom: 2px;
}

#logpanel .contentlog input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#logpanel .contentlog input:focus.field {
	background: #545454;
}

*[draggable=true] {
	-moz-user-select: none;
	user-select: none;
	-webkit-user-select: none;
	cursor: move;
}

*[draggable=true]:hover {
	color: red;
}

#editf, #trash {
	background-color: #333;
        border-radius: 4px 4px 4px 4px;
        position: fixed;
        opacity: 0.6;
        padding: 16px;
}

#trash {
	right: 20px;
	bottom: 20px;
	display: none;
}

#editf {
	right: 20px;
	bottom: 130px;
	display: none;
}

.ulform {
	list-style-type: none;
	display: inline-block;
}

.ulform li {
	margin-bottom: 4px;
}

label {
	float: left;
	font-weight: bold;
	text-align: left;
}

.ulform label {
	margin: 4px 0 0;
	width: 180px;
}

/* Tooltip */
.tooltip {
	background-color: rgba(25, 25, 25, 0.90);
	border-radius: 3px 3px 3px 3px;
	font-size: 10px;
	padding: 7px;
	color: #DDD;
}

.statusWARNING {
	color: orange;
}

.statusCRITICAL {
	color: red;
}

